@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  background-color: hsl(0, 0%, 100%);
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
}

nav {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 35vh;
  margin: 0 auto;
  background: url(./../../images/image-hero-mobile.jpg) no-repeat;
  background-size: 100%;
}
@media screen and (min-width: 768px) {
  nav {
    background: url(./../../images/image-hero-desktop.jpg) no-repeat;
    background-size: cover;
    height: 350px;
  }
}
nav .nav-container {
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 40%, #000000 100%);
  height: 100%;
}
nav .navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
@media screen and (min-width: 768px) {
  nav .navbar-container {
    max-width: 1200px;
    padding-top: 3rem;
    margin: 0 auto;
  }
}
nav .navbar-container .laptop {
  display: none;
}
@media screen and (min-width: 768px) {
  nav .navbar-container .laptop {
    display: flex;
    color: hsl(0, 0%, 100%);
    gap: 2rem;
  }
  nav .navbar-container .laptop li {
    list-style: none;
  }
  nav .navbar-container .laptop li a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
  }
  nav .navbar-container .laptop li:hover {
    transition: all 0.2s linear;
    cursor: pointer;
    opacity: 0.8;
  }
}
nav .navbar-container .mobile-link {
  position: absolute;
  display: none;
  background-color: hsl(0, 0%, 100%);
  bottom: 0;
  left: 50%;
  top: 4rem;
  width: 90%;
  transform: translateX(-50%);
  border-radius: 15px;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  nav .navbar-container .mobile-link {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  nav .navbar-container .mobile-link {
    height: 90%;
  }
}
nav .navbar-container .mobile-link li {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
}
nav .navbar-container .mobile-link li a {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav .navbar-container .mobile-link li a:hover {
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
  border-radius: 15px 15px 0 0;
}
nav .navbar-container .mobile-link li:hover {
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
}
nav .navbar-container .mobile-link li:nth-child(1) {
  border-bottom: 1px solid hsl(0, 0%, 83%);
}
nav .navbar-container .mobile-link li:nth-child(1):hover {
  border-radius: 15px 15px 0 0;
}
nav .navbar-container .mobile-link li:nth-child(2) {
  border-bottom: 1px solid hsl(0, 0%, 83%);
  padding: 0 1rem;
}
nav .navbar-container .mobile-link li:nth-child(3) {
  padding: 0 1rem;
}
nav .navbar-container .mobile-link li:nth-child(3):hover {
  border-radius: 0 0 15px 15px;
}
nav .navbar-container .active {
  display: flex;
  animation: slideDown 0.5s ease-in-out;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  nav .navbar-container .active {
    display: none;
  }
}
@keyframes slideDown {
  from {
    top: -1000px;
    bottom: 1000px;
  }
  to {
    top: 4rem;
    bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  nav .navbar-container .btn-hamburger-menu {
    display: none;
  }
}
nav .navbar-container .btn-hamburger-menu .open-menu {
  z-index: 100;
  transition: all 0.2s ease;
  animation: rotational 0.3s ease;
}
nav .navbar-container .btn-hamburger-menu .open-menu:hover {
  cursor: pointer;
  opacity: 0.8;
}
nav .navbar-container .btn-hamburger-menu .close-menu {
  display: none;
}
nav .navbar-container .btn-hamburger-menu .active-hide {
  display: none;
  animation: rotational 0.5s ease;
}
@media screen and (min-width: 768px) {
  nav .navbar-container .btn-hamburger-menu .active-hide {
    display: none;
  }
}
nav .navbar-container .btn-hamburger-menu .active-show {
  display: flex;
  animation: rotational 0.5s ease;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  nav .navbar-container .btn-hamburger-menu .active-show {
    display: none;
  }
}
@keyframes rotational {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content-container {
  width: 90%;
  max-width: 700px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-content-container .top-container {
  position: relative;
  margin-top: -4rem;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.12);
  padding: 2rem;
  text-align: center;
}
.main-content-container .top-container .logo-about {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
.main-content-container .top-container h2 {
  margin-inline: auto;
  margin-top: 2.5rem;
  width: 70%;
}
.main-content-container .top-container p {
  margin-top: 1.5rem;
  line-height: 2rem;
  color: hsl(0, 0%, 48%);
}
.main-content-container .top-container .bookmark-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.main-content-container .top-container .bookmark-container .bookmark-div img {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .main-content-container .top-container .bookmark-container .bookmark-div p:hover {
    cursor: pointer;
    color: hsl(0, 0%, 100%);
  }
}
@media screen and (min-width: 768px) {
  .main-content-container .top-container .bookmark-container .bookmark-div {
    background-color: rgb(233, 233, 233);
    display: flex;
    border-radius: 30px;
    width: 30%;
  }
  .main-content-container .top-container .bookmark-container .bookmark-div:hover {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    background-color: hsl(176, 72%, 28%);
  }
}
.main-content-container .top-container .bookmark-container .bookmark-div .book-text {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-content-container .top-container .bookmark-container .bookmark-div .book-text {
    display: block;
    margin-top: 0;
    align-self: center;
    font-weight: 700px;
    color: hsl(0, 0%, 48%);
    width: 100%;
    padding: 0.5rem 0;
  }
}
.main-content-container .top-container .bookmark-container button {
  width: 75%;
  padding: 1.2rem;
  outline: none;
  border: none;
  color: white;
  font: inherit;
  font-weight: 700;
  background-color: hsl(176, 50%, 47%);
  border-radius: 30px;
}
.main-content-container .top-container .bookmark-container button:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  background-color: hsl(176, 72%, 28%);
}
@media screen and (min-width: 768px) {
  .main-content-container .top-container .bookmark-container button {
    width: 50%;
  }
}
.main-content-container .record-container {
  text-align: center;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.12);
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .main-content-container .record-container .text-container-record {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  .main-content-container .record-container .text-container-record hr {
    transform: rotate(90deg);
    width: 8%;
    margin-top: 2rem;
  }
}
.main-content-container .record-container h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .main-content-container .record-container h2 {
    margin-bottom: 0;
  }
}
.main-content-container .record-container h2 span {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(0, 0%, 48%);
}
.main-content-container .record-container hr {
  margin-bottom: 1.5rem;
  background-color: hsl(0, 0%, 83%);
  border: none;
  height: 1px;
  width: 30%;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .main-content-container .record-container hr {
    margin-bottom: 0;
  }
}
.main-content-container .record-container .range-container {
  height: 15px;
  width: 100%;
  background-color: hsl(0, 0%, 83%);
  border: none;
  border-radius: 25px;
}
.main-content-container .record-container .range-container .ranges {
  height: 15px;
  width: 70%;
  background-color: hsl(176, 50%, 47%);
  border-radius: 25px;
}
.main-content-container .about-container {
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.12);
  padding: 2rem;
}
.main-content-container .about-container .about h2 {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.main-content-container .about-container .about p {
  line-height: 1.8rem;
  color: hsl(0, 0%, 48%);
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.main-content-container .about-container .section {
  border: 1px solid hsl(0, 0%, 83%);
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}
.main-content-container .about-container .section .title-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
@media screen and (min-width: 768px) {
  .main-content-container .about-container .section .title-container {
    gap: 0;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}
.main-content-container .about-container .section .title-container h4 {
  font-size: 1rem;
  font-weight: 700;
}
.main-content-container .about-container .section .title-container p {
  color: hsl(176, 50%, 47%);
  font-weight: 500;
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  .main-content-container .about-container .section .title-container p {
    margin: 0;
  }
}
.main-content-container .about-container .section p {
  color: hsl(0, 0%, 48%);
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.main-content-container .about-container .section .reward-con {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .main-content-container .about-container .section .reward-con {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.main-content-container .about-container .section .reward-con h3 {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.main-content-container .about-container .section .reward-con h3 span {
  font-size: 1rem;
  color: hsl(0, 0%, 48%);
  font-weight: 300;
  align-self: center;
}
.main-content-container .about-container .section .reward-con .reward {
  background: hsl(176, 50%, 47%);
  outline: none;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 25px;
  font-family: inherit;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
}
.main-content-container .about-container .section .reward-con .reward:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  background: hsl(176, 72%, 28%);
}
.main-content-container .about-container .last-section {
  opacity: 0.7;
}
.main-content-container .about-container .last-section .last-btn {
  outline: none;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 25px;
  font-family: inherit;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  background: hsl(0, 0%, 48%);
}
.main-content-container .about-container .last-section .last-btn:hover {
  cursor: default;
}

.blur1 {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.514);
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 3rem;
}
@media screen and (min-width: 768px) {
  .blur1 {
    display: none;
  }
}

.blur {
  display: block;
  background: rgba(0, 0, 0, 0.233);
  z-index: 2;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .blur {
    top: 3rem;
  }
}

.blur2 {
  display: block;
}
@media screen and (min-width: 768px) {
  .blur2 {
    top: 0;
    display: block;
    background: rgba(0, 0, 0, 0.233);
    z-index: 2;
    width: 100%;
    height: 100%;
  }
}

.project-container {
  position: absolute;
  width: 90%;
  background-color: hsl(0, 0%, 100%);
  z-index: 3;
  padding: 1.5rem;
  max-width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.12);
  display: none;
  flex-direction: column;
  gap: 2rem;
  animation: fade 0.2s linear;
  transition: all 0.2s linear;
}
@media screen and (min-width: 768px) {
  .project-container {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.project-container .back-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-container .back-container .fa-xmark {
  font-size: 1.5rem;
  font-weight: 900;
}
.project-container .back-container .fa-xmark:hover {
  transition: all 0.2s linear;
  cursor: pointer;
  opacity: 0.7;
}
.project-container .top-text {
  font-weight: 500;
  line-height: 1.8rem;
  color: hsl(0, 0%, 48%);
}
.project-container .back-project-container {
  border: 1px solid hsl(0, 0%, 83%);
  padding: 1.5rem;
  border-radius: 10px;
}
.project-container .back-project-container .radio-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.project-container .back-project-container .radio-container h3 {
  font-size: 1rem;
  letter-spacing: 1px;
}
.project-container .back-project-container .radio-container h3:hover {
  transition: all 0.2s linear;
  cursor: pointer;
  color: hsl(176, 72%, 28%);
}
.project-container .back-project-container p {
  color: hsl(0, 0%, 48%);
  line-height: 1.8rem;
}
.project-container .back-project-container .content .radio-container-flex {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .project-container .back-project-container .content .radio-container-flex {
    justify-content: space-between;
  }
}
.project-container .back-project-container .content .radio-container-flex .radio {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.project-container .back-project-container .content .radio-container-flex .radio p {
  color: hsl(176, 50%, 47%);
}
.project-container .back-project-container .content .radio-container-flex .p-hide {
  display: none;
}
@media screen and (min-width: 768px) {
  .project-container .back-project-container .content .radio-container-flex .p-hide {
    display: flex;
    color: hsl(0, 0%, 0%);
    font-weight: 800;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .project-container .back-project-container .content .radio-container-flex .p-hide span {
    font-weight: 300;
    color: hsl(0, 0%, 48%);
    font-size: 1rem;
  }
}
.project-container .back-project-container .content .last-text {
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  color: hsl(0, 0%, 0%);
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .project-container .back-project-container .content .last-text {
    display: none;
  }
}
.project-container .back-project-container .content .last-text span {
  font-size: 1rem;
  font-weight: 300;
  color: hsl(0, 0%, 48%);
}
.project-container .back-project-container .pledge-count {
  margin-top: 1rem;
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid hsl(0, 0%, 83%);
}
@media screen and (min-width: 768px) {
  .project-container .back-project-container .pledge-count {
    flex-direction: row;
  }
}
.project-container .back-project-container .pledge-count p {
  margin: 1.5rem 0;
}
@media screen and (min-width: 768px) {
  .project-container .back-project-container .pledge-count p {
    flex: 1;
  }
}
.project-container .back-project-container .pledge-count .pledge-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .project-container .back-project-container .pledge-count .pledge-container {
    flex: 1;
  }
}
.project-container .back-project-container .pledge-count .pledge-container input {
  width: 50%;
  padding: 1rem;
  border-radius: 25px;
  border: 1px solid hsl(0, 0%, 83%);
  outline: none;
}
.project-container .back-project-container .pledge-count .pledge-container .continue {
  flex: 1;
  padding: 1rem;
  border-radius: 25px;
  border: none;
  color: hsl(0, 0%, 100%);
  font-family: inherit;
  font-size: 1rem;
  background: hsl(176, 50%, 47%);
  font-weight: 500;
  letter-spacing: 1px;
}
.project-container .back-project-container .pledge-count .pledge-container .continue:hover {
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: hsl(176, 72%, 28%);
}

.Custom-radio-btn {
  width: 30px;
  height: 30px;
  border: 1px solid hsl(0, 0%, 83%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Custom-radio-btn .checkmark {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: hsl(176, 50%, 47%);
  border-radius: 50%;
  display: none;
}
.Custom-radio-btn input {
  display: none;
}
.Custom-radio-btn input:checked + .checkmark {
  display: inline-block;
}

.thankyou-container {
  display: none;
  position: absolute;
  background: hsl(0, 0%, 100%);
  width: 90%;
  max-width: 500px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.12);
  padding: 1.5rem;
  text-align: center;
  z-index: 10;
}
.thankyou-container h2 {
  margin: 2rem 0;
}
.thankyou-container p {
  color: hsl(0, 0%, 48%);
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.thankyou-container .gotIt {
  padding: 1rem 2.5rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border: none;
  border-radius: 25px;
  background-color: hsl(176, 50%, 47%);
  margin-bottom: 2rem;
}
.thankyou-container .gotIt:hover {
  transition: all 0.2s linear;
  cursor: pointer;
  background-color: hsl(176, 72%, 28%);
}

.text-container-project h3 {
  cursor: pointer;
}
.text-container-project h3:hover {
  transition: all 0.2s linear;
  color: hsl(176, 72%, 28%);
}
@media screen and (min-width: 768px) {
  .text-container-project {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.last-container {
  opacity: 0.5;
}
.last-container .content .radio-container-flex .radio .text-container-project p {
  color: hsl(0, 0%, 48%);
}
.last-container .pledge-count .pledge-container .continue {
  background-color: hsl(0, 0%, 48%);
}/*# sourceMappingURL=style.css.map */