// ### Primary
$Moderatecyan: hsl(176, 50%, 47%);
$Darkcyan: hsl(176, 72%, 28%);
// ### Neutral
$Black: hsl(0, 0%, 0%);
$Darkgray: hsl(0, 0%, 48%);
$ligthgray: hsl(0, 0%, 83%);
$white: hsl(0, 0%, 100%);


@mixin borderR-container{
    border-radius: 15px;
    background-color: $white;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.12);
    padding: 2rem;
}